.menu,
[class*="menu--"] {
    list-style   : none;
    margin-top   : 0;
    margin-bottom: 0;
    padding-left : 0;
    text-align   : center;
    margin-bottom: 2em;

    @include from(large) {
        display        : flex;
        justify-content: space-around;
    }
}

.menu__link {
    text-decoration: none;
    font-weight    : $semibold;
    color          : map-get($vars, primary);

    &.active {
        color: map-get($vars, accent);
    }

    @include from(large) {
        line-height: 2.5;
        display    : block;
    }
}

.menu--main {
    border-top   : 1px solid #95989A;
    border-bottom: 1px solid #95989A;
    border-color : rgba(map-get($vars, primary), .5)
}

.menu--section {
    @include from(large) {
        width       : 60%;
        margin-left : auto;
        margin-right: auto;
    }

    .active {
        &::after {
            content     : "";
            display     : block;
            width      : 50%;
            height      : 2px;
            background  : $accent;
            margin-left:25%;

            @include from (large){
                width      : 140%;
                margin-left : -20%;

            }
        }
    }
}