<!DOCTYPE html>
html(lang='es')
  head
    title Photos
    meta(charset="utf-8")
    meta(name='description' content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="https://file.myfontastic.com/wXUejw7cV5KRrdtkS8GFFi/icons.css" rel="stylesheet")
    link(rel='stylesheet' href='css/main.min.css')
    link(href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,400i,600,600i&display=swap" rel="stylesheet")

  body(class=currentPage)
    header.l-container
      block header
    nav.l-container
      block nav
    .banner-container.l-container--full
      block banner
    .gallery-container.l-container.l-section
      block gallery
    .about-container.l-container--full.l-section
      block about
    .contact.l-container.l-section
      block contact
    footer.footer.l-container--full
      block footer