<!DOCTYPE html>
html(lang='es')
  head
    title Photos
    meta(charset="utf-8")
    meta(name='description' content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="https://file.myfontastic.com/wXUejw7cV5KRrdtkS8GFFi/icons.css" rel="stylesheet")
    link(rel='stylesheet' href='css/main.min.css')
    link(href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,400i,600,600i&display=swap" rel="stylesheet")

  body(class=currentPage)
    header
      block header
    nav
      block nav
    .banner-container
      block banner
    .gallery-container
      block gallery
    .about-container
      block about
    .contact
      block contact
    footer
      block footer