<!DOCTYPE html>
html
    head
        title Photos
        meta(charset="utf-8")
        meta(name='description' content=description)
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="https://file.myfontastic.com/wXUejw7cV5KRrdtkS8GFFi/icons.css" rel="stylesheet")
        link(rel='stylesheet' href='css/styles-dist.css')
    body(class=currentPage)
        block main