.siguenos
    a(href="http://facebook.com").icon-facebook Siguenos en facebook
    a(href="http://twitter.com").icon-twitter Siguenos en Twitter
    a(href="http://youtube.com").icon-youtube Siguenos en YouTube
