.about
  .about__img
    img(src="img/about.jpg")
  p.about__description
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum cum blanditiis officiis aliquam in repellat ullam, facilis architecto nemo unde quisquam sint placeat, id neque vitae accusamus dolorum. Dicta, eveniet.