extends templates/template

append config
    -pageTitle = 'Contáctenos'
    -description = 'Una impresionante descripcion para esta página'
    -currentPage = 'contacto'

block main
    <iframe height="500" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://escueladigital.wufoo.com/embed/m1i97bno0efh7kt/"><a href="https://escueladigital.wufoo.com/forms/m1i97bno0efh7kt/">Fill out my Wufoo form!</a></iframe>
    <iframe src="https://www.google.com/maps/d/embed?mid=1JjOl1PyRlWcsN4gWuz-8JR3_sIc" width="100%" height="250"></iframe>
